<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sh.com.water">

    <!-- if you want to load images from the internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 极光 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 地图 -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".ui.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="82af948f865be51f60401060" /> <!-- </>值来自开发者平台取得的AppKey -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="249a8403a60edde8666b3cc1e61498f4" />

        <activity
            android:name=".ui.activity.WelComeActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.PresonCenterActivity" />
        <activity android:name=".ui.activity.QueryPayActivity" />
        <activity android:name=".ui.activity.NoticeActivity" />
        <activity android:name=".ui.activity.FaultActivity" />
        <activity android:name=".ui.activity.IllegaReportActivity" />
        <activity android:name=".ui.activity.ComplaActivity" />
        <activity android:name=".ui.activity.BusNewsActivity" />
        <activity android:name=".ui.activity.BusoutActivity" />
        <activity android:name=".ui.activity.BusGuideActivity" />
        <activity android:name=".ui.activity.WaterbaikeActivity" />
        <activity android:name=".ui.activity.BusManagerActivity" />
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.BindUserActivity" />
        <activity android:name=".ui.activity.MapActivity" />
        <activity android:name=".ui.activity.PassWordActivity" />
        <activity android:name=".ui.activity.BusGuildFoldActivity" />
        <activity android:name=".ui.activity.WaterBaikeFoldActivity" />
        <activity android:name=".ui.activity.StopWaterActivity" />
        <activity android:name=".ui.activity.OrderQueryActivity" />
        <activity android:name=".ui.activity.VersionActivity"></activity>
    </application>

</manifest>